<div class="container margin-top">
    <div class="row">
        <div class="col-md-9">
            <div class="image-block">
                <img src="{{ block.image.one().getUrl() }}" alt="{{ block.image.one().title }}">
            </div>
        </div>
    </div>
</div>