{% extends '_layout' %}

{% block content %}

<div class="container">
    {% set image = entry.heroImage.one() ?? fallback.heroImage.one() %}
    <div class="header-page"
         style="background-color: black;
                 background-image:url({{ image.getUrl('hero') }});
                 background-position: left;
                 background-size: contain; background-repeat: no-repeat">
        <div class="col-md-6 col-md-offset-6">
            <div class="row">
                <div class="inner-content">
                    <div class="header-content">
                        <h1>{{ entry.title }}</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '_snippets/_content/_contentbuilder' %}

{% endblock %}