{% extends '_layout' %}

{% block content %}

<div class="container">
    <div class="header-page" style="background-image:url({{ entry.heroImage.one().getUrl('hero') ?? fallback.heroImage.one().getUrl('hero') }})">
        <div class="col-md-6 col-md-offset-6">
            <div class="row">
                <div class="inner-content">
                    <div class="header-content">
                        <h1>{{ entry.title }}</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '_snippets/_content/_contentbuilder' %}

{% endblock %}